body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    background-color: rgba(197, 197, 197, 0.411);
}

header {
    background-color: white;
}

.toboo_title {
    font-size: 2.5rem;
    vertical-align: top;
    font-weight: bold;
}

main {}