body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    background-color: #f6f8f9;
}

header {
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}  

.toboo_title {
    font-size: 2.5rem;
    vertical-align: top;
    font-weight: bold;
}

main {}