/* #bodystyle */
body {
    margin: 0px;
    font-family: arial, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    background-color: #f6f8f9;
}
/* #endbodystyle */
header {
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}  

hr{
    background-color: #f6f8f9; 
    height: 5px; 
    border: 0
}
.toboo_title {
    font-size: 2.5rem;
    vertical-align: top;
    font-weight: bold;
}

.container{
    background-color: #ffffff;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 42px;
}

.task_and_section_buttons{
    padding-top: 13px;
    padding-left: 50px;
    padding-bottom: 13px;
}

.btn{
    padding: 0.5rem 1rem;
    border-radius:0.25rem;
    border: none;
    background-color: transparent;
}

.btn-primary{
    background-color:blue;
    border: 1px solid blue;
    color: #f6f8f9;

}

.btn-outline{
    border: 1px solid;
    color: grey;

}
.main_section{
    padding-top: 35px;
    padding-left: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold; 

}